@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #FFD7B8FF;
}

.fi {
    vertical-align: middle;
}

.toastify {
    background: #ff7c31;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
